<template>
  <div class="allblog">
    <BlogsList :blogs="blogsObj" :onPage="allblog" @parentFunc="selectedBlog"/>
    <BlogView :selectBlog="selectBlog" v-if="selectBlog"/>
  </div>
</template>

<script>
import BlogsList from '@/components/organisms/BlogsList.vue'
import BlogView from '@/components/organisms/BlogView.vue'

export default {
  name: 'AllblogPage',
  data: () => ({
    blogsObj: null,
    selectBlog: null,
    allblog: 'allblog'
  }),
  components: {
    BlogsList,
    BlogView
  },
  computed: {
    blogs() {
      return this.$store.state.blog.allblogs
    }
  },
  mounted () {
    if (this.blogs) {
      this.blogsObj = this.blogs
    }
    this.$store.dispatch('getBlogs', true)
  },
  watch: {
    blogs(value) {
      this.blogsObj = value
    }
  },
  methods: {
    selectedBlog(value) {
      this.selectBlog = value
    },
    reloadBlog() {
      this.$store.dispatch('getBlogs', true)
    }
  }
}
</script>

<style scoped>
.allblog {
  top: 10%;
  bottom: 5%;
  height: 85%; 
  width: 90%;
      display: flex;
  flex-direction: row;
  justify-content: space-between;
}

</style>
