<template>
  <div class="create">
    <p>新規投稿</p>
    <form v-on:submit.prevent>
      <input type="text" v-model="inputTitle" placeholder="タイトル"/>
      <br />
      <br />
      <input type="textarea" v-model="inputBody" placeholder="本文"/>
      <br />
      <div>
        <br />
        <input type="radio" value=true v-model="checked">
        <label>公開する</label>
        <input type="radio" value=false v-model="checked">
        <label>公開しない</label>
      </div>
      <br />
      <button v-on:click="createBlog" v-bind:disabled="!isPostButtonVisible">送信</button>
    </form>
    <transition name="fade" v-show="isStatusViewVisible">
      <div class="status">
        <h1 v-show="isFetching">送信中</h1>
        <p>{{error}}</p>
        <p>{{message}}</p>
      </div>
    </transition>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

export default {
  name: 'CreatePage',
  data: () => ({
    inputTitle: "",
    inputBody: "",
    isStatusViewVisible: false,
    message: "",
    checked: true,
  }),
  methods: {
    createBlog() {
      const uuid = uuidv4();
      const obj = {
        id: uuid,
        title: this.inputTitle,
        body: this.inputBody,
        userId: this.userData.userId,
        username: this.userData.username,
        open: this.checked,
      }
      this.$store.dispatch('createBlog', obj)
    }
  },
  computed: {
    userData() {
      return this.$store.state.user.data
    },
    isPostButtonVisible() {
      return this.inputTitle !== "" && this.inputBody !== ""
    },
    isFetching() {
      return this.$store.state.blog.isFetching
    },
    error() {
      return this.$store.state.blog.error
    },
    resultMessage() {
      return this.$store.state.blog.resultMessage
    }
  },
  watch: {
    userData(value) {
      if (value === null) {
        this.$router.push('/')
      }
    },
    isFetching(value) {
      if (value) {
        this.isStatusViewVisible = value
      } else {
        setTimeout(() => this.isStatusViewVisible = value, 3000)
      }
    },
    error(value) {
      if (value !== null) {
        this.isStatusViewVisible = true
        this.message = value
      }
    },
    resultMessage(value) {
      this.message = value
      this.inputTitle = ""
      this.inputBody = ""
      this.checked = true
    }
  }
}
</script>

<style scoped>

</style>
