<template>
  <div class="allblog">
    <BlogsList :blogs="blogsObj" :onPage="favorite" @parentFunc="selectedBlog"/>
    <BlogView :selectBlog="selectBlog" v-if="selectBlog"/>
  </div>
</template>

<script>
import BlogsList from '@/components/organisms/BlogsList.vue'
import BlogView from '@/components/organisms/BlogView.vue'

export default {
  name: 'FavolitePage',
  data: () => ({
    blogsObj: null,
    selectBlog: null,
    favorite: 'favorite'
  }),
  components: {
    BlogsList,
    BlogView
  },
  computed: {
    blogs() {
      return this.$store.state.blog.allblogs
    },
    userData() {
      return this.$store.state.user.data
    }
  },
  mounted () {
    if (this.userData.favorite === null) {
      console.log('return')
      return
    }
    const favorite = this.userData.favorite
    this.blogsObj = this.blogs.filter(function(blog) {
      const id = favorite.filter(function(favoliteId) {
        if ( blog.id === favoliteId ) {
          return blog.id
        }
      })
      if (id.length) {
        return blog
      }
    })
  },
  watch: {
    blogs(value) {
      if (this.userData.favorite === null) {
        console.log('return')
        return
      }
      const favorite = this.userData.favorite
      this.blogsObj = value.filter(function(blog) {
        const id = favorite.filter(function(favoliteId) {
          if ( blog.id === favoliteId ) {
            return blog.id
          }
        })
        if (id.length) {
          return blog
        }
      })
    },
    userData(value) {
      if (value === null) {
        this.$router.push('/')
      }
    }
  },
  methods: {
    selectedBlog(value) {
      this.selectBlog = value
      console.log(value)
    }
  }
}
</script>

<style scoped>
.allblog {
  top: 10%;
  bottom: 5%;
  height: 85%; 
  width: 90%;
      display: flex;
  flex-direction: row;
  justify-content: space-between;
}

</style>
