<template>
  <div class="home">
    <div v-if="loginUser">
      <table>
        <tr>
          <td>name</td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td>email</td>
          <td>{{email}}</td>
        </tr>
      </table>
    </div>
    <div>
      <p>
        パスワードを変更
      </p>
      <p>
        ユーザーを削除
      </p>
    </div>
    <p v-if="isDev">{{loginData}}</p>
    <p v-if="isDev">{{blogData}}</p>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  data: () => ({
    name: "",
    email: "",
    isDev: true
  }),
  mounted() {
    const data = this.$store.state.user.data
    if (data === null) {
      return
    }
    this.name = data.username
    this.email = data.email
    this.isDev = process.env.NODE_ENV == "development"
  },
  computed: {
    loginData() {
      return this.$store.state.user.data
    },
   blogData() {
      return this.$store.state.blog.allblogs
    }
  },
  watch: {
    loginData(value) {
      if (value === null) {
        this.$router.push('/')
      }
    }
  }
}
</script>

<style scoped>

</style>
