<template>
  <div class="allblog">
    <BlogsList :blogs="blogsObj" :onPage="myblog" @parentFunc="selectedBlog"/>
    <MyBlogView :selectBlog="selectBlog" v-if="selectBlog"/>
  </div>
</template>

<script>
import BlogsList from '@/components/organisms/BlogsList.vue'
import MyBlogView from '@/components/organisms/MyBlogView.vue'

export default {
  name: 'MyblogPage',
  data: () => ({
    blogsObj: null,
    selectBlog: null,
    myblog: 'myblog'
  }),
  components: {
    BlogsList,
    MyBlogView
  },
  computed: {
    blogs() {
      return this.$store.state.blog.allblogs
    },
    userData() {
      return this.$store.state.user.data
    },
    blogResultMessage() {
      return this.$store.state.blog.resultMessage
    }
  },
  mounted () {
    const userId = this.userData.userId
    this.blogsObj = this.blogs.filter(function(blog) {
      if ( blog.userId === userId ) {
        return blog
      }
    })
  },
  watch: {
    blogs(value) {
      const userId = this.userData.userId
      this.blogsObj = value.filter(function(blog) {
        if ( blog.userId === userId ) {
          return blog
        }
      })
    },
    userData(value) {
      if (value === null) {
        this.$router.push('/')
      }
    },
    blogResultMessage(value) {
      if (value !== "") {
        this.$store.dispatch('getBlogs')
      }
    }
  },
  methods: {
    selectedBlog(value) {
      this.selectBlog = value
    }
  }
}
</script>

<style scoped>
.allblog {
  top: 10%;
  bottom: 5%;
  height: 85%; 
  width: 90%;
      display: flex;
  flex-direction: row;
  justify-content: space-between;
}

</style>
