<template>
  <div class="signiup">
     <div>
      <p>ユーザー登録</p>
      <form v-on:submit.prevent>
        <input type="text" v-model="inputUserId" placeholder="ユーザーID"/>
        <br />
        <input type="text" v-model="inputUsername" placeholder="ユーザー名"/>
        <br />
        <input type="text" v-model="inputUserEmail" placeholder="Email"/>
        <br />
        <input type="password" v-model="inputUserPassword" placeholder="パスワード"/>
        <br />
        <input type="password" v-model="inputUserPasswordChecCheck" placeholder="パスワード再入力"/>
        <br />
        <p v-if="!passCheck">パスワードが一致しません。</p>
        <br />
        <input type="submit" value="登録" v-on:click="createUser" v-bind:disabled="!isPostButtonVisible"/>
      </form>
      <br />
      <div>
        <router-link to="/signin">アカウントをお持ちの方はこちら</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignupPage',
  data: () => ({
    inputUserId: "",
    inputUsername: "",
    inputUserEmail: "",
    inputUserPassword: "",
    inputUserPasswordChecCheck: "",
  }),
  computed: {
    userData() {
      return this.$store.state.user.data
    },
    isPostButtonVisible() {
      return this.inputUserId !== "" &&
             this.inputUsername !== "" &&
             this.inputUserPassword !== "" &&
             this.inputUserEmail !== ""
    },
    passCheck() {
      return this.inputUserPasswordChecCheck == "" ?
             true : this.inputUserPasswordChecCheck === this.inputUserPassword
    }
  },
  watch: {
    userData(values) {
      if (values !== null) {
        this.$router.push('/allblog')
      }
    }
  },
  methods: {
    createUser(){
      const obj = {
        userId: this.inputUserId,
        username: this.inputUsername,
        password: this.inputUserPassword,
        email: this.inputUserEmail
      }
      this.$store.dispatch('createUser', obj)
    }
  }
}
</script>

<style scoped>

</style>
