<template>
  <div class="signin">
     <div>
        <p>ログイン</p>
        <form v-on:submit.prevent>
          <input type="text" v-model="inputUserId" placeholder="ユーザーID"/>
          <br />
          <input type="password" v-model="inputPassword" placeholder="パスワード"/>
          <br />
          <button v-on:click="loginUser" v-bind:disabled='inputUserId === "" || inputPassword == ""'>login</button>
        </form>
      <div>
        <br />
        <router-link to="/signup">サインアップ</router-link>
        <br />
        <router-link to="/forget">ログインできない場合はこちら</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SigninPage',
  data: () => ({
    inputUserId: "",
    inputPassword: "",
  }),
  computed: {
    error() {
      return this.$store.state.user.error
    },
    data() {
      return this.$store.state.user.data
    }
  },
  watch: {
    error() {
      this.inputUserId = ""
      this.inputPassword = ""
    },
    data(values) {
      if (values !== null) {
        this.$router.push('/allblog')
      }
    }
  },
  methods: {
    loginUser(){
      const obj = {
        userId: this.inputUserId,
        password: this.inputPassword
      }
      this.$store.dispatch('loginUser', obj)
    }
  }
}
</script>

<style scoped>

</style>
