<template>
  <div class="top">
    <div>
      <ul>
        <li>トップページ要素</li>
        <li>トップページ要素</li>
        <li>トップページ要素</li>
        <li>トップページ要素</li>
        <li>トップページ要素</li>
        <li>トップページ要素</li>
      </ul>
    </div>
    <button v-if="isDev" v-on:click="test">test</button>
  </div>
</template>

<script>
export default {
  name: 'TopPage',
  data: () => ({
    isDev: true
  }),
  props: {
    msg: String,
  },
  methods: {
    test() {
      console.log('test')
      console.log(process.env)
    }
  },
  mounted() {
    this.isDev = process.env.NODE_ENV == "development"
  }
}
</script>

<style scoped>

</style>
