<template>
    <div>
       <p>タイトル：{{ selectBlog.title }}</p>
       <p>ユーザーID：{{ selectBlog.userId }}</p>
       <p>ユーザー名：{{ selectBlog.username }}</p>
       <p>♡{{ selectBlog.like }}</p>
       <div v-if="userData">
           <button type="submit" v-on:click="upadateFav(selectBlog.id)">{{ favoriteButton }}</button>
       </div>
      <p>本文</p>
       <p>{{ selectBlog.body }}</p>
    </div>
</template>

<script>
export default {
    name: 'BlogView',
    data: () => ({
        isLiked: null,
        favoriteButton: ""
    }),
    props: ['selectBlog'],
    components: {
    },
    computed: {
        userData() {
            return this.$store.state.user.data
        }
    },
    watch: {
        selectBlog(value){
            if (this.userData === null) return
            const selectId = value.id
            this.isLiked = this.userData.favorite.some(function(id){
                return selectId === id
            })
        },
        userData: {
            handler: function(value) {
                if (value === null) return
                const selectId = this.selectBlog.id
                this.isLiked = value.favorite.some(function(id){
                    return selectId === id
                })
            },
            deep: true
        },
        isLiked(value) {
            this.favoriteButton = value ? "お気に入りを解除"
                                        : "お気に入りにする"
        }
    },
    mounted() {
        if (this.userData === null) return
        const selectId = this.selectBlog.id
        this.isLiked = this.userData.favorite.some(function(id){
            return selectId === id
        })
    },
    methods: {
        upadateFav(blogId) {
            const obj = {
                "blogId": blogId,
                "userId": this.userData.userId,
                "isLiked": this.isLiked
            }
            this.$store.dispatch('updateFavorite', obj)
        }
    }
}
</script>