<template>
    <div class="blogsList">
      <div>
        <p v-if="onPage == 'allblog'">全ブログ</p>
        <p v-if="onPage == 'myblog'">MYブログ</p>
        <p v-if="onPage == 'favorite'">お気に入り</p>
      </div>
      <div>
        <table>
          <tr v-for="blog in displayBlogs" v-bind:key='blog.id'>
            <td>{{blog.title}}</td>
            <td>♡{{blog.like}}</td>
            <td><button v-on:click="getBlog(blog)">look</button></td>
          </tr>
        </table>
      </div>
      <div v-if="noneBlog">
        <p v-if="onPage == 'allblog'">投稿されたブログはありません。</p>
        <p v-if="onPage == 'myblog'">投稿したブログはありません。</p>
        <p v-if="onPage == 'favorite'">お気に入りしたブログはありません。</p>
      </div>
    </div>
</template>

<script>
export default {
    name: 'BlogsList',
    data: () => ({
      displayBlogs: [],
      noneBlog: false
    }),
    props: ["blogs", "onPage"],
    computed: {
    },
    mounted() {
    },
    watch: {
      blogs(value) {
        if (!value.length) {
          this.noneBlog = true
          this.displayBlogs = []
          return
        }
        if (this.onPage == "myblog") {
          this.displayBlogs = value
          return
        }
        this.displayBlogs = value.filter(function(blog){
            if (blog.open) {
                return blog
            }
         })
      },
      onPage(value){
        console.log(value)
      }
    },
    methods:{
        getBlog(blog) {
          this.$emit('parentFunc', blog)
        }
    }
}
</script>

