<template>
    <div v-show="isVisible">
      <div>
        <p>タイトル：<input type="textarea" v-model="inputTitle"/></p>
        <p>ユーザーID：{{ selectBlog.userId }}</p>
        <p>ユーザー名：{{ selectBlog.username }}</p>
        <p>like count：{{ selectBlog.like }}</p>
      </div>
      <div>
        <p>公開設定</p>
        <label for="checkbox">{{ inputCheck }}</label>
        <input type="checkbox" id="checkbox" v-model="inputCheck">
        <br />
      </div>
      <div>
        <p>本文</p>
        <p><input type="textarea" v-model="inputBody"/></p>
      </div>
      <div>
        <button type="submit" v-on:click="updateBlog" v-show="isPutButtonVisible">更新</button>
        <button type="submit" v-on:click="cancelBlog" v-show="isPutButtonVisible">キャンセル</button>
        <button type="submit" v-on:click="deleteBlog">削除</button>
      </div>
    </div>
    <transition name="fade" v-show="isStatusViewVisible">
      <div class="status">
        <h1 v-show="isFetching">ぐるぐる</h1>
        <p>{{error}}</p>
        <p>{{message}}</p>
      </div>
    </transition>
</template>

<script>
export default {
    name: 'MyBlogView',
    data: () => ({
        inputTitle: "",
        inputBody: "",
        inputCheck: "",
        oldTitle: "",
        oldCheck: "",
        oldBody: "",
        message: "",
        isStatusViewVisible: false,
        isVisible: true
    }),
    props: ['selectBlog'],
    components: {
    },
    computed: {
        userData() {
          return this.$store.state.user.data
        },
        isPutButtonVisible() {
          return this.inputTitle !== this.oldTitle ||
                 this.inputBody !== this.oldBody ||
                 this.inputCheck !== this.oldCheck
        },
        isFetching() {
          return this.$store.state.blog.isFetching
        },
        error() {
          return this.$store.state.blog.error
        },
        resultMessage() {
          return this.$store.state.blog.resultMessage
        },
        blogData() {
          return this.$store.state.blog.allblogs
        }
    },
    watch: {
        selectBlog(value) {
          this.isVisible = true
          this.inputTitle = this.oldTitle = value.title
          this.inputBody = this.oldBody = value.body
          this.inputCheck = this.oldCheck = value.open
        },
        userData(value) {
          if (value === null) {
            this.$router.push('/')
          }
        },
        isFetching(value) {
          if (value) {
            this.isStatusViewVisible = value
          } else {
            setTimeout(() => this.isStatusViewVisible = value, 3000)
          }
        },
        error(value) {
          if (value !== null) {
            this.isStatusViewVisible = true
            this.message = value
          }
        },
        resultMessage(value) {
            this.message = value
            this.oldTitle = this.inputTitle
            this.oldBody = this.inputBody
            this.oldCheck = this.inputCheck
        },
        blogData(value) {
          const selectId = this.selectBlog.id
          const selectIdData = value.filter(function(blog){
            if (blog.id === selectId) {
              return blog
            }
          })
          this.isVisible = selectIdData.length !== 0
        }
    },
    mounted() {
        this.inputTitle = this.oldTitle = this.selectBlog.title
        this.inputBody = this.oldBody = this.selectBlog.body,
        this.inputCheck = this.oldCheck = this.selectBlog.open
    },
    methods: {
        updateBlog(){
            const updateBlog = {
                body: this.inputBody,
                id: this.selectBlog.id,
                open: this.inputCheck,
                title: this.inputTitle,
            }
            this.$store.dispatch('updateBlog', updateBlog)
        },
        cancelBlog() {
            this.inputTitle = this.oldTitle
            this.inputBody = this.oldBody
            this.inputCheck = this.oldCheck
        },
        deleteBlog() {
            this.$store.dispatch('deleteBlog', this.selectBlog.id)
        }
    }
}
</script>