<template>
  <Header/>
  <router-view class="view"/>
  <Fotter/>
  <transition name="fade">
    <div class="status" v-show="isStatusViewVisible">
      <h1 v-show="isFetching">ぐるぐる</h1>
      <p>{{message}}</p>
    </div>
  </transition>
</template>

<script>
import Header from '@/components/templates/Header.vue'
import Fotter from '@/components/templates/Fotter.vue'

export default {
  name: 'TopView',
  data: () => ({
      isStatusViewVisible: false,
      message: ""
  }),
  components: {
    Header,
    Fotter
  },
  computed: {
    isFetching() {
      return this.$store.state.user.isFetching
    },
    error() {
      return this.$store.state.user.error
    },
    loginData() {
      return this.$store.state.user.data
    },
    resultMessage() {
      return this.$store.state.user.resultMessage
    }
  },
  watch: {
    isFetching(value) {
      if (value) {
        this.isStatusViewVisible = value
      } else {
        setTimeout(() => this.isStatusViewVisible = value, 3000)
      }
    },
    error(value) {
      if (value !== null) {
        this.isStatusViewVisible = true
        this.message = value
        setTimeout(() => {
          this.isStatusViewVisible = false
          this.message = ""
        },8000)
      }
    },
    resultMessage(value) {
      if (value !== null) {
        this.isStatusViewVisible = true
        this.message = value
        setTimeout(() => {
          this.isStatusViewVisible = false
          this.message = ""
        },8000)
      }
    }
  }
}
</script>

<style>
.view {
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 1% 5%;
  position: fixed;
  top: 5%; 
}

.status {
  width: 30%;
  height: 15%;
  background: #ccc;
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 1000;
  transition: all .2s;
}

.fade-enter-activ, .fade-leave-active {
    transition: opacity 2s;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
</style>
