<template>
  <div class="allblog">
    <AllblogPage/>
  </div>
</template>

<script>
import AllblogPage from '@/components/pages/AllblogPage.vue'

export default {
  name: 'AllblogView',
  components: {
    AllblogPage
  }
}
</script>