<template>
  <div class="create">
    <CreatePage/>
  </div>
</template>

<script>
import CreatePage from '@/components/pages/CreatePage.vue'

export default {
  name: 'CreateView',
  components: {
    CreatePage
  }
}
</script>