<template>
  <div class="favolite">
    <FavolitePage/>
  </div>
</template>

<script>
import FavolitePage from '@/components/pages/FavolitePage.vue'

export default {
  name: 'FavoliteView',
  components: {
    FavolitePage
  }
}
</script>
