<template>
  <div class="home">
    <HomePage/>
  </div>
</template>

<script>
import HomePage from '@/components/pages/HomePage.vue'

export default {
  name: 'HomeView',
  components: {
    HomePage
  },
  methods: {
  }
}
</script>