<template>
  <div class="myblog">
    <MyblogPage/>
  </div>
</template>

<script>
import MyblogPage from '@/components/pages/MyblogPage.vue'

export default {
  name: 'MyblogView',
  components: {
    MyblogPage
  }
}
</script>
