<template>
  <div class="signup">
    <SignupPage/>
    
  </div>
</template>

<script>
import SignupPage from '@/components/pages/SignupPage.vue'

export default {
  name: 'Signiupiew',
  components: {
    SignupPage
  },
}
</script>