<template>
  <div class="signin">
    <SigninPage/>
  </div>
</template>

<script>
import SigninPage from '@/components/pages/SigninPage.vue'

export default {
  name: 'SigninView',
  components: {
    SigninPage
  },
}
</script>