<template>
  <div class="top">
    <TopPage/>
  </div>
</template>

<script>
import TopPage from '@/components/pages/TopPage.vue'

export default {
  name: 'TopView',
  components: {
    TopPage
  },
  computed: {
    
  },
  methods: {
  }
}
</script>
