<template>
    <div class="fotter">
        <p>ABAC</p>
    </div>
</template>

<script>
export default {
    name: 'Fotter',
    props: {
        msg: String
    }
}
</script>
<style scoped>
.fotter {
   width: 90%;
   height: 5%;
   background-color: #fff;
   padding: 1% 5%;
   position: fixed;
   bottom: 0;
}
</style>
