<template>
  <div class="header">
      <nav class="nav">
        <div>
          <router-link to="/">Top</router-link>
        </div>
        <div>
          <router-link to="/allblog">Allblog</router-link>
        </div>
        <div v-if="isLogined">
          <router-link to="/myblog">Myblog</router-link> |
          <router-link to="/favolite">Favolite</router-link> |
          <router-link to="/create">Create</router-link>
        </div>
        <div>
          <div v-if="isLogined">
            <router-link to="/home">Home</router-link> |
            <button v-on:click='logout'>Logout</button>
          </div>
          <div v-else>
            <router-link to="/signin">Signin</router-link> |
            <router-link to="/signup">Signup</router-link>
          </div>
        </div>
      </nav>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
    username: null,
    isLogined: false
  }),
  computed: {
    userData() {
      return this.$store.state.user.data
    }
  },
  mounted() {
    if (this.$store.state.user.data !== null) {
        this.username = this.$store.state.user.data.username
        this.isLogined = true
    }
  },
  watch: {
    userData(value) {
      if (value !== null) {
        this.username = value.username
        this.isLogined = true
      } else {
        this.username = ""
        this.isLogined = false
      }
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logoutUser')
    }
  }
}
</script>

<style scoped>
.header {
   width: 90%;
   height: 5%;
   background-color: #fff;
   padding: 1% 5%;
   position: fixed;
   top: 0;
}
.nav {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
